.todo-list {display:block; max-width:900px; border:1px solid black; margin:0 auto; box-shadow:3px 3px 6px rgba(0,0,0,0.5);}
.todo-task {border-bottom:1px solid grey;}
.todo-desc {display:inline-block; padding:10px; border:1px solid grey; margin:10px;}